<div class="address-search-bar">
  <select
    class="filter-property-select"
    [value]="filterProperty"
    (change)="onSelectChange($event)"
    title="Select property to filter by"
  >
    <option value="title">Title</option>
    <option value="content">Content</option>
    <option value="author">Author</option>
    <option value="createdAt">Date</option>
    <option value="location">Location</option>
  </select>
  <input
    #addressInput
    type="text"
    class="address-input"
    placeholder="type address or a place nearby in any language"
    [value]="searchTerm"
    (input)="onSearchChange($event)"
  />
  <span class="address-hint">(Street, City, State)</span>
  <button class="go-btn" (click)="onGoClick()">go <span class="arrow">➔</span></button>
</div>
